body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background: linear-gradient(135deg, #899ac2, #65aeb8);
}

.invoice-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 35px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.invoice-container h2 {
  text-align: center;
  margin-bottom: 35px;
  color: #222;
  letter-spacing: 1px;
}

.section-box {
  border: 2px solid black;
  background: #ffffff;
  padding: 22px;
  margin-bottom: 22px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.section-box h3 {
  margin-bottom: 15px;
  padding-bottom: 6px;
  border-bottom: 2px solid #e6e6e6;
  color: #333;
}

.party-row {
  display: flex;
  gap: 25px;
}

.party-box {
  flex: 1;
  border: 2px solid black;
  background: #fafafa;
  padding: 15px;
  border-radius: 8px;
}
.party-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: #fff;
}

input:focus,
select:focus {
  outline: none;
  border-color: #768cc1;
  box-shadow: 0 0 4px rgba(147, 162, 199, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
}

table th {
  background: #5e6e94;
  color: white;
  padding: 12px;
  font-weight: 600;
}

table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table tr:nth-child(even) {
  background: #f3f6ff;
}

button {
  padding: 10px 18px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

button:hover {
  background: #333;
  transform: scale(1.03);
}

.invoice-preview {
  border: 2px solid black;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.invoice-preview h2 {
  text-align: center;
  margin-bottom: 20px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .invoice-preview,
  .invoice-preview * {
    visibility: visible;
  }

  .invoice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}
.row {
  display: flex;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.full {
  width: 100%;
}

.half {
  flex: 1;
}

label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
}

.error {
  color: red;
  font-size: 12px;
}