body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #799abe, #fdfbfb);
}

.invoice-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.invoice-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2b2b2b;
}

.section-box {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 6px;
}

.section-box h3 {
  margin-bottom: 12px;
  color: #3c3c3c;
}

.party-row {
  display: flex;
  gap: 30px;
}

.party-box {
  flex: 1;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #0b0a0a;
}
input,
select {
  width: 80%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
}

input:focus,
select:focus {
  border-color: #4c84ff;
  box-shadow: 0 0 0 2px rgba(76, 132, 255, 0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

table th {
  background: #4c84ff;
  color: white;
  padding: 12px;
  font-weight: 600;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #0d0c0c;
  text-align: center;
}

table tr:nth-child(even) {
  background: #f6f8ff;
}

button {
  padding: 10px 18px;
  background: #4c84ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background: #3768d8;
  transform: translateY(-1px);
}

.invoice-preview {
  background: white;
  padding: 25px;
  border-radius: 12px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .invoice-preview,
  .invoice-preview * {
    visibility: visible;
  }

  .invoice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}