
.invoice-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fdf6e3;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.section-box {
  border: 2px solid #201c1c;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff8f0;
}
.section-box.flex-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 20px;
  background-color: #221f1f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #1b1919;
}

@media print {
  button {
    display: none;
  }
}